@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Bold.woff2') format('woff2'),
        url('Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Regular.woff2') format('woff2'),
        url('Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

